.favs{
    background-color: #135ba327;
    display:flex;
    flex-direction:row;  
    position:relative;
    margin:auto;
    width: 900px;
    padding: 10px;
    margin-top: 4px;
    flex-wrap: wrap; 
    justify-content: center;
}

.selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
}

.favs h2{
    color:rgba(0, 0, 0, 0.39);
}

@media screen and (max-width: 900px){
    .favs {
        width: auto;
    }
}

@media screen and (max-width: 500px){
    .favs {
        flex-direction: column;
    }
}