.addButton{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    /* border-radius: 7px; */
    /* width: 15%; */
    /* height: 6%; */
    width: auto;
    height: 97%;
    color: rgb(181, 181, 207);
    font-size: 15px;
    font-size: small;
    transition: 0.35s;
}

.addButton:hover{
    background-color: rgba(0, 0, 0, 0.342);
}

.input{
    border: 0px;
    height: 97%;
    font-size: small;
    /* border-radius: 10px 0px 0px 0px; */
}

.search{
    width:fit-content;
    display: flex;
    flex-direction: row;
    position:relative;
    /* margin:auto; */
}