.card{
    background-color: #135ba33e;
    margin-inline: 8px;
    margin-block: 8px;
    border-radius: 12px;
    padding-bottom: 8px;
    height: auto;
    width: fit-content;
    /* height: 400px;
    width: 300px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transition: 0.35s;
}

.card:hover{
    background-color: #135ba376;
}

h2{
    font-size: small;
    color:#3a4750;
    margin:5px;
}

.card img {
    max-width: 200px;
    width: auto; 
    border-radius: 12px 12px 0px 0px;
  }

.closeButton{
    background-color: rgba(0, 0, 0, 0.385);
    border: 0px;
    border-radius: 4px;
    /* width: 15%; */
    /* height: 6%; */
    /* width: fit-content; */
    /* height: fit-content; */
    width:fit-content;
    height: auto;
    color: rgb(181, 181, 207);
    font-size: 9px;
    padding: 3px;
    padding-inline: 6px;

}
