.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 150px;
    height: auto;
    min-height: 20px;
    margin-top: 10%;
}

.login {
    background-color: #0b2a57;
    border-radius: 17px;
    display:flex;
    flex-direction:column;  
    position:relative;
    margin:auto;
    width: 24%;
    min-width: 170px;
    /* height: 100%; */
    min-height: 300px;
    margin-top: 2%;
    /* flex-wrap: wrap;  */
    justify-content: center;
    text-align: center;
    align-content: space-evenly;
    place-items: center;
}

.login h3 {
    color:aliceblue;
    /* margin-top: -15%; */
    /* margin-bottom: 8%; */
}

.login span {
    color:rgb(176, 175, 187);
    font-size: xx-small;
    padding-bottom: 7px;
    /* margin-bottom: 10%; */
}

.submitButton {
    width: 100px;
    position:relative;
    margin:auto;
    margin-top: 5%;
    font-size: 15px;
    border-radius: 7px;
    border: 0px;
}


/* 
body {
    display: grid;
    place-items: center;
} */